<div class="row" style="background-color: #ffffff;padding: 20px 10px">
    <div class="col-xs-12" style="margin-bottom: 15px">
        <div class="col-xs-6">
            <button class="btn btn-primary btn-large" ng-click="cancel()" style="margin-right: 10px">返回</button>
            <button class="btn btn-primary btn-large" ng-click="upload(imageName)">上传图片</button>
            <button class="btn btn-primary btn-large" ng-click="edit(imageName)">修改相册名称</button>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 pictures" ng-repeat="img in images" style="margin-bottom: 20px">
        <span ng-click="removeImg($index)" class="remove">
            <i class="fa fa-trash-o"></i>
        </span>
        <span ng-click="setFirst($index)" class="set" ng-show="$index !== 0 ">设为封面</span>
        <span class="set" ng-show="$index === 0 ">封面</span>
        <a href="" ng-click="showImg(img)">
            <img ng-src="{{img}}" style="width: 100%;height: 100px">
        </a>
    </div>
</div>
<script type="text/ng-template" id="showEdit.html">
    <form class="form-horizontal text-center" style="height: 200px;">
        <div class="col-xs-12 text-center" style="margin-top: 30px">
            <input type="text" class="form-control" placeholder="新标题" ng-model="newTitle" id="newTitle">
        </div>
        <div class="col-xs-12 text-center" style="margin-top: 20px">
            <button class="btn btn-default" ng-click="cancel()">取消</button>
            <button class="btn btn-primary" ng-click="ok()">确定</button>
        </div>
    </form>
</script>