        <div id="page-heading">
            <!--<ol class="breadcrumb">-->
                <!--<li class='active'><a href="index.htm">首页</a></li>-->
            <!--</ol>-->

            <!--<h1>首页</h1>-->
        </div>


        <div class="container-fluid" ng-controller="DashboardController">
            <div class="row">
                <div class="col-md-9" style="margin-bottom: 20px">
                    <tabset panel-tabs="true" panel-class="panel-info" heading="视频">
                        <tab>
                            <div class="row">
                                <div class="col-xs-12">
                                    <carousel interval="myInterval" style="width:100%;margin:0 auto" disable-animation="true">
                                        <slide ng-repeat="item in videos.slice(0,3)" active="slide.active" ng-click="showVideos(item)">
                                            <video src={{item.src}} style="margin:auto;height: 500px"></video>
                                            <div class="carousel-caption">
                                                <p>{{item.text}}</p>
                                            </div>
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px">
                                <div class="col-xs-2" ng-repeat="item in videos.slice(3,7)" ng-click="showVideos(item)">
                                    <video src={{item.src}} style="width:100%;height: 160px"></video>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-primary btn-block" style="margin-top: 63px" ng-click="showVideos()">更多视频</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="col-md-3">
                    <tabset panel-tabs="true" panel-class="panel-warning" heading="相册">
                        <tab>
                            <div class="row text-center" ng-repeat="item in pictures.slice(0,4)" style="margin-bottom: 15px">
                                <div class="col-xs-12">
                                    <a style="display: inline-block;height: 145px" ng-click="showPictures(item)">
                                        <img ng-src="{{item.src[0]}}" style="height: 85%">
                                        <div>{{item.text}}</div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-primary btn-block" ng-click="showPictures()">更多相册</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div> <!-- container -->
