<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px">
        <div class="col-xs-6">
            <button class="btn btn-primary btn-large pull-left" ng-click="cancel()" style="margin-right: 10px">返回</button>
            <button class="btn btn-primary btn-large pull-left" ng-click="edit(videoText)" style="margin-right: 10px">修改标题</button>
        </div>
    </div>
    <div style="background-color: #ffffff;padding: 15px 0;" class="text-center col-xs-12">
        <h5>{{videoText}}</h5>
        <video src="{{videoSrc}}" autoplay controls></video>
    </div>
</div>