.imageM.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
@media (min-width: 768px) {
    .modal-dialog {
        margin: 300px auto;
    }

    .modal-lg {
        margin: 100px auto;
    }
}
.pictures {
    margin-bottom: 20px;
    position: relative;
}
.pictures>span.remove {
    color: red;
    position: absolute;
    top: 5px;
    right: 20px;
    display: none;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.pictures>span.set {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color: dodgerblue;
    text-align: center;
    padding: 2px 4px;
    display: none;
}
.pictures:hover>span {
    display: block;
}
.videos {
    margin-bottom: 20px;
    position: relative;
}
.videos>span.remove {
    color: red;
    position: absolute;
    top: 14px;
    right: 20px;
    display: none;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 50000;
}
.videos:hover>span {
    display: block;
}
.progress_modal {
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
}